<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang hiển thị danh sách sản phẩm kèm ảnh</p>
        <p>Các bạn có thể xem sản phẩm và mua tại đây</p>
    </div>
    <div class="search-box">
        <input type="text" id="search" class="form-control search-input" placeholder="Tìm kiếm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh" class="product-image">
                <h3 class="product-name">product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam, ratione commodi vel laboriosam placeat maxime beatae totam recusandae, consequuntur quisquam distinctio et nulla eaque perferendis neque veniam repellat animi!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100 </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <div class="space-x"></div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh" class="product-image">
                <h3 class="product-name">product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam, ratione commodi vel laboriosam placeat maxime beatae totam recusandae, consequuntur quisquam distinctio et nulla eaque perferendis neque veniam repellat animi!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100 </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <div class="space-x"></div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh" class="product-image">
                <h3 class="product-name">product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam, ratione commodi vel laboriosam placeat maxime beatae totam recusandae, consequuntur quisquam distinctio et nulla eaque perferendis neque veniam repellat animi!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100 </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <div class="space-x"></div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh" class="product-image">
                <h3 class="product-name">product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam, ratione commodi vel laboriosam placeat maxime beatae totam recusandae, consequuntur quisquam distinctio et nulla eaque perferendis neque veniam repellat animi!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100 </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <div class="space-x"></div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh" class="product-image">
                <h3 class="product-name">product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam, ratione commodi vel laboriosam placeat maxime beatae totam recusandae, consequuntur quisquam distinctio et nulla eaque perferendis neque veniam repellat animi!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100 </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <div class="space-x"></div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/1029757/pexels-photo-1029757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Đây là ảnh" class="product-image">
                <h3 class="product-name">product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam, ratione commodi vel laboriosam placeat maxime beatae totam recusandae, consequuntur quisquam distinctio et nulla eaque perferendis neque veniam repellat animi!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100 </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <div class="space-x"></div>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
